// module

// headings
.h1-def
  margin-bottom 16px
  padding-bottom 16px
  font-size 22px
  border-bottom 2px solid $border

.h2-def
  padding-bottom 16px
  font-size 18px
  border-bottom 1px solid $border

.h3-def
  margin-bottom 16px
  font-size 16px

.h4-def
  margin-top 16px
  margin-bottom 16px
  font-size 14px

.h5-def
  margin-top 16px
  margin-bottom 16px
  font-size 13px

.h6-def
  margin-top 16px
  margin-bottom 16px
  font-size 13px
  color #888

// text
.attention
  color #e60000

// notes
.notes
  padding-left 1em
  text-indent -1em

.notes-list
  padding 0
  list-style none
  li
    padding-left 1em
    text-indent -1em

// list
.list-def
  padding-left 25px

.nomark-list
  list-style none
  padding 0

// table
.table-def
  width 100%
  th
  td
    padding 10px
    border 1px solid $border
  th
    background #eee

// columns
.columns
  overflow hidden

.column
  float left
.column-inner
  first_mt0()

.column-1of1
  width 100%
.column-1of2
  width 50%
.column-1of3
  width 33.3%
.column-1of4
  width 25%
.column-1of5
  width 20%
.column-2of5
  width 40%
.column-3of5
  width 60%
.column-2of3
  width 66.6%
.column-3of4
  width 75%
.column-4of5
  width 80%

// row-columns
.row-columns
  margin-left -20px
  .column-inner
    margin-left 20px

// inline-columns
.inline-columns
  margin-left -20px
.inline-column
  display inline-block
  vertical-align top
  .column-inner
    margin-left 20px

// row-round-columns
.row-round-columns
  .column-round-left
    float left
  .column-round-right   
    float right


  

  
